.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  vertical-align: top;  
}

.App-content{
  color: black;
  vertical-align: top;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
  padding: 10px !important;
}
.App-link {
  color: rgba(10, 245, 147, 0.24);;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
